@model Order
@{
    ViewData["Title"] = "Order Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="height:50px"></div>
<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container">
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Order #@Model.Number</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>Order Details</h3>
                                    <div class="mb-2 p-2">
                                        <p><b>Status</b> @Model.OrderStatus</p>
                                        <p><b>Date Placed</b> @Model.DateTime</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3>Delivery Address</h3>
                                    @{
                                        Address DeliveryAddress = Model.DeliveryAddress;
                                    }
                                    <div class="mb-2 p-2">
                                        <p><b>PropertyType</b> @DeliveryAddress.PropertyType</p>
                                        <p><b>Address</b> @DeliveryAddress.AddressLine</p>
                                        <p><b>Suburb</b> @DeliveryAddress.Suburb</p>
                                        <p><b>City</b> @DeliveryAddress.City</p>
                                        <p><b>Province</b> @DeliveryAddress.ProvinceDescription</p>
                                        <p><b>Postal Code</b> @DeliveryAddress.ZipCode</p>
                                        <p><b>Contact Number</b> @DeliveryAddress.ContactNumber</p>
                                        <p><b>Delivery Instructions</b> @DeliveryAddress.DeliveryInstructions</p>
                                    </div>
                                </div>
                                <div class="col-md-12 mt-5">
                                    <h3>Order Items</h3>
                                    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                        <table class="table dataTable my-0">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Name</th>
                                                    <th>Quantity</th>
                                                    <th>Price</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (OrderProductLink OrderProductLink in Model.OrderProductLinks)
                                                {
                                                    <tr>
                                                        @{
                                                            Product Product = OrderProductLink.Product;
                                                        }
                                                        <td><img style="max-height:50px" class="img-fluid d-block mx-auto" src="data:image/png;base64, @(Convert.ToBase64String(Product.FeaturedImage.Data))"></td>
                                                        <td>@Product.Name</td>
                                                        <td>@OrderProductLink.Quantity</td>
                                                        <td>@OrderProductLink.ItemPrice</td>
                                                        <td>@(OrderProductLink.ItemPrice * OrderProductLink.Quantity)</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
