@model Order
@{
    ViewData["Title"] = "Confirmation";
}

<main class="page payment-page">
    <section class="clean-block payment-form dark">
        <div class="container">
            <div class="block-heading mt-2">
                @await Html.PartialAsync("~/Views/Shared/ErrorAlert.cshtml")
                @await Html.PartialAsync("~/Views/Shared/SuccessAlert.cshtml")

                @if (ViewBag.BankDetails != null)
                {
                    BankAccountDetails Details = (BankAccountDetails)ViewBag.BankDetails;
                    <div class="alert alert-info mt-3">
                        <p>Please note that your order will only be finalised and shipped once payment has been received</p>
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Payment Reference:</strong> @Model.Number</li>
                            <li class="list-group-item"><strong>Bank:</strong> @Details.Bank</li>
                            <li class="list-group-item"><strong>Account Number:</strong> @Details.AccountNumber</li>
                            <li class="list-group-item"><strong>Account Type:</strong> @Details.AccountType</li>
                            <li class="list-group-item"><strong>Branch Code:</strong> @Details.BranchCode</li>
                            <li class="list-group-item"><strong>Swift Code:</strong> @Details.SwiftCode</li>
                        </ul>
                    </div>
                }

                @Html.ActionLink("View Order", "GoToOrder", "Payment", new { @OrderID = Model.Key.Encrypt()}, new { @class = "btn btn-sm btn-primary shadow w-100" })

                <div class="row">
                    <div class="col-md-12">
                        <h3>Order Items</h3>
                        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                            <table class="table dataTable my-0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Total</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (OrderProductLink OrderProductLink in Model.OrderProductLinks)
                                    {
                                        <tr>
                                            @{
                                                Product Product = OrderProductLink.Product;
                                            }
                                            <td><img style="max-height:50px" class="img-fluid d-block mx-auto" src="data:image/png;base64, @(Convert.ToBase64String(Product.FeaturedImage.Data))"></td>
                                            <td>@Product.Name</td>
                                            <td>@OrderProductLink.Quantity</td>
                                            <td>@OrderProductLink.ItemPrice</td>
                                            <td>@(OrderProductLink.ItemPrice * OrderProductLink.Quantity)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>




